@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');

header {
  box-sizing: border-box;
  margin: 0;
  padding : 0;
  display: flex !important;
  align-items: center;
  padding-inline-start: 50px ;
  padding-inline-end: 80px ;
}

.logo-container{
  margin-inline-end: auto;
}

.logo {
  max-height : 80px;
  cursor: pointer;
  
}

.nav-end-container{
  display: flex;
  flex-direction: row;
}

.nav-buttons span{
 display: inline-block;
 padding-inline-start: 20px;
 cursor: pointer
}

.nav-buttons span:hover{
  color: yellow ;
  transform: scale(1.1);
 }
 

.nav-button{
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
}

.nav-button:hover{
  color: yellow ;
  transform: scale(1.1);
}

.language-selector{
  position: relative;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.language-selector:hover{
  transform: scale(1.1);
}


.languages{
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 15px;
  right: -30px;
}

.language-selector:hover .languages{
  cursor: pointer;
  display: block;
 
}

.language {
  display: block;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.language:hover{
  cursor: pointer;
  color: yellow;
  transform: scale(1.1);
}