@font-face {
    font-family: 'Arcade';
    src: local("Arcade"), url( ../../../fonts/ArcadeLight-d196.ttf);
   
}

.game-player{
    position: relative;
}


.arcade-title-container{
    position: absolute;
    top: 22px;
    left: 37px;
    width: 490px;
    height: 125px;
}

.arcade-title{
    color: white;
    font-family: "Arcade";
    text-align: center;
    padding: 30px;
    font-size: 4vw;
}

.challenge-completed{
    color: white;
    font-family: "Arcade";
    text-align: center;
    font-size: 3vw;
    margin: 0px;
    overflow-wrap: break-word;
}

.game-player-screen{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.game-player-container{
    position: absolute;
    margin: auto;
    text-align: center;
    width: 410px;
    height: 283px;
    top: 237px;
    right: 77px
}

.hide{
    display: none !important;
}

.show{
    display: block;
}

.react-toast-notifications__toast__content{
    color: black !important;
}

.react-toast-notifications__toast__dismiss-icon{
    fill: black !important;
}