#unity-body{
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.unity-player{
    width: 612px;
    height: 424px;
}
.loading{
    width: 612px;
    height: 424px;
}

.react-toast-notifications__toast__content{
    color: black !important;
}

.react-toast-notifications__toast__dismiss-icon{
    fill: black !important;
}