

.game-player-screen{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;

}

.game-player-container{
  

    margin: auto;
    text-align: center;
    position: absolute;
    width: 612px;
    height: 424px;
}


.react-toast-notifications__toast__content{
    color: black !important;
}

.react-toast-notifications__toast__dismiss-icon{
    fill: black !important;
}