@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



.game-list-container{
    display: grid;
    grid-template-columns: 1fr repeat(12,minmax(auto,60px)) 1fr;
    grid-gap: 40px;
    padding : 60px 0;
}


.game-list{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12,minmax(auto,60px));
    grid-gap: 40px;
}


@media (max-width:700px){
    .game-list-container{
        grid-gap: 20px;
    }
}

@media (max-width:500px){
    .game-list-container{
        grid-template-columns:10px repeat(6,1fr) 10px;
        grid-gap: 10px;
    }

    .game-list{
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 20px;
    }
}